<div class="game-item">
	<div class="game-item-img game-item-col">
		<img src="{{ game.image }}">
	</div>
	<div class="game-item-name game-item-col">
		{{ game.name }}
	</div>
	<div class="game-item-date game-item-col">
		{{ game.date|date("j M Y") }}
	</div>
	<div class="game-item-price game-item-col">
		{{ game.price }} USD
	</div>
</div>
