{% extends 'shop/shopbase.html.twig' %}

{% block shoppage %}
	<div class="row">
		<div class="panel panel-default pagepanel">
	        <div class="panel-body">
	        	<p class="lead">{{ message }}</p>
	        </div>
	    </div>
	</div>
{% endblock %}